@import "colores";

*{
    margin : 0px;
    padding : 0px;
 }

 header{
    background-color: $colorBackground;
    height: 50px;   
            
            ul{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                font-family: $font;
                list-style: none;
                
                
            li{
                list-style: none;
                outline: none;
                text-decoration: none;
            
            a{
                color: $colorTextos;
                text-decoration: none;
                list-style: none;
            
            }
        }
        } 
        
        }

.logo{
    position: sticky;
    width: 60px;
    float:right;
}

body{
    background-color: $colorBackground;
    h2{
        color: $colorTitulos;
        font-family: $font;
     
    }
}
.reproductor{
    margin: 5%;
}
.ramdomaccess{
    color: $colorTitulos;
    font-size: 21px;
    line-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8%;
    
}

footer{
    margin: 15px;

}
.redes{
    display: inline;
    a{
    list-style-type: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 1vh;
    color: white;
    }
}

//BIO

.biografia{
    display: flex;
    justify-content: center;
    font-family: $font;
    font-size: 40px;
}
.biodaft{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    p{
        color: $colorTextos;
        font-family: $font;
        margin-left: 20px;
    }
}

//DISCOGRAFIA

.discografia{
    display: flex;
    justify-content: center;
    font-family: $font;
    font-size: 40px;
}
.padre{
    display:flex;
    gap: 20px;
}

//CONTACTO

.dejatumensajebox{
    display: flex;
    flex-direction: column;
    .dejatumensaje{
        color:$colorTitulos;
        text-align: left;
        font-family: $font;
       
}
}

//TOUR

.tour{
    color: $colorTitulos;
    text-align: center;
    font-size: 35px;
    font-family: $font;
}
.tour2{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 1px;
    font-size: 30px;
    text-align: left;

}
