.dejatumensajebox{
    display: flex;
    flex-direction: column;
    height: 537px;
    width: 100%;
    .dejatumensaje{
        color:$colorTitulos;
        text-align: left;
        font-family: $font;
       
}
}