.discografia{
    @extend .biografia

}
.padre{
    div:hover{
        
        color: white;
    
    :hover{
        text-decoration: underline;
        transform: translate(10px, 5px);
       
       
    }
}
 
}

.padre{
    display:flex;
    gap: 20px;
}

@include mobile() {
    .padre{
        display: flex;
        .container{
            flex-direction: column;
            a:hover{
                transform: translate(100px, 3px);
                color: white;
                :hover{
                    color: grey;
                    text-decoration: underline;
                }
            }
                img{
                width: 100%;
            }
        }
    }
    .redes{
        display: flex;
        .container-fluid{
            flex-direction: row;
            a{
                margin:0px;
            }
        }
    }
}