.reproductor{
    margin: 5%;
}
.ramdomaccess{
    color: $colorTitulos;
    font-size: 21px;
    line-height: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 8%;
    
}

@include mobile() {
    .banner{
        height: 100%;  
        .bannerimg{
            width: 100%;
        }
    }
    .ramdomaccess{
        height: 100%;
        width: 100%;
        margin-left: 0%;
    }
}